h1
{
	color: blue;
	font-family: helvetica;
}
h2
{
	color: green;
	font-family: helvetica;
}
.test
{
	background-color: powderblue;
	height: 100%;
	font-family: Helvetica;
}
.hello
{
	background-color: orange;
	height: 100%;
	font-family: Helvetica;
}
.a
{
	background-color: burlywood;
	height: 100%;
}
.b
{
	background-color: chocolate;
	height: 100%; 
}
.c
{
	font-family: helvetica;
	background-color: chartreuse;
	height: 100%;
	width: 100%;
}